extends layout
block content
 div(class="container-fluid p-5 bg-success text-yellow text-center")
  h2.text-center Create New Vehicle 
 br
 form(id='vehicleForm', action="/resource/vehicle", method="POST")
  div.form-group
   label.vehiclestyle(for='VehicleName') Vehicle Name
   input#VehicleName(type='text', name='VehicleName')
  div.form-group
   label.vehiclestyle(for='VehicleType') Vehicle Type
   input#VehicleType(type='text', name='VehicleType')
  div.form-group
   label.vehiclestyle(for='VehicleCost') Vehicle Cost
   input#VehicleCost(type='number', name='VehicleCost')
 br
 button(type="submit",class="btn btn-success") Submit
 script.
  document.forms['vehicleForm'].addEventListener('submit', (event) => {
  event.preventDefault();
  // TODO do something here to show user that form is being submitted
  fetch(event.target.action, {
   method: 'POST',
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
  }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
  }).then((body) => {
   alert("Save succeded")
  // TODO handle body
  }).catch((error) => {
  // TODO handle error
   alert("Save failed " + error )
   });
  });